<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fincess URL Shortener</title>
    <link href="../public/assets/img/logo.png"  rel="icon" />
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <img src="../public/assets/img/fincess.png" alt="" class="fincess" width="220" height="80">
        <h1 class="heading">Url Shortener</h1>
        <form>
            <div class="box1">
                <label for="origurl">Enter Original URL</label>
            </div>
            <div class="form" id="origurl">
                <input type="text" placeholder="Paste Original URL here" class="form" id="url" name="originalurl" />
                <button id="submit" class="shorten-url">Shorten URL</button>
            </div>
        </form>
        <div class="box1">
            <label for="origurl">Shortened URL</label>
        </div>
        <div id="shorturl" class="output"></div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script>
            $(function () {
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var url = $('#url').val();
                    $.post('/api/short', {
                        url: url
                    }, function (data) {
                        $('#shorturl').html('<a>'+data+'</a>');
                    })
                })
            })
        </script>
    </div>

</body>

</html>